@page
@model DotnetVibe.AuthService.Pages.Account.LogoutModel
@{
    Layout = null;
}

<form method="post">
    <button type="submit">Signing out...</button>
</form>

<script>
    document.querySelector('form').submit();
</script>
